body{
    margin: 0 auto;
    background: url('http://cdn.wallpapersafari.com/25/42/uC8eak.jpg');
    background-repeat: no-repeat;
    background-size: 360%;
}
h1{
    margin-left: 970px;
    font: cursive;
    font-size: 50px;
}
.container1{
    width: 500px;
    height: 510px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    margin-left: 50px;
}
.container2{
     width: 500px;
    height: 510px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -510px;
    margin-right: 50px;
}
input[type="text"], input[type="password"]{
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    padding-left: 40px;
    margin-top: 30px;
    margin-bottom: 2px;
    border-color: black;
}
p{
    font-family: Arial;
    margin-top: 15px;
}
.btn-login, .btn-login1{
    padding: 10px 40px;
    cursor: pointer;
    color: rgb(204, 51, 0);
    border: none;
    background-color: #337ab7;
    border-bottom: 4px solid #337ab7;
    margin-top: 30px;
    margin-bottom: 15px;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    font-size: 20px;
}
a{
    color: grey;
    margin-top: 60px;
    text-decoration: none;
    font-family: cursive;
}
a:hover{
    color: rgb(204, 51, 0);
}
